.brandPanel{
    background: url("https://image.tmdb.org/t/p/w1920_and_h600_multi_faces_filter(duotone,032541,01b4e4)/ghQrKrcEpAlkzBuNoOCSxHQXWqw.jpg");
    background-position:center;
	background-repeat:no-repeat;
	background-size:cover;
    height:calc(100vh / 2.5);    
    color:white;
}

.brandPanel > article {
    margin-top: 100px;
    margin-left: 200px;
}