.gallery {
    flex-wrap:nowrap !important;
    overflow-x: auto;
    overflow-y: hidden;
}

/* .gallery > div {
    height: 350px;
} */

.backdrop{
    z-Index: 1000;
    color: '#fff';
}

.gallery > div > img {
    border-radius: 1.3rem!important;
}